@model TodoLive.Models.MainVM


@if(Model.TodosList != null)
{
    foreach(var task in Model.TodosList)
    {

        string priorityColor = "";
        foreach (var priority in Model.TaskPriorityList)
        {
            if (priority.PriorityName == task.Priority && (priority.PriorityVisual != null))
            {
                priorityColor = priority.PriorityVisual;
            }
        }

        <div class="customCard">

            <div class="customCardHeader">
                <div>
                    <h5><strong>Title: </strong> @task.Title</h5>
                </div>
                <div class="customHeaderColorPriority">
                    <div base-value="@priorityColor"></div>
                </div>
            </div>

            <div class="customCardHeader2">

                <div>
                    <h7><strong>From: </strong></h7><p>@task.FromRequested</p>
                </div>

                <div class="customCardHeader2Dates">
                    <div><h7><strong>Date Requested: </strong></h7><p>@task.DateRequested.ToString("d")</p></div>
                    <div><h7><strong>Date Due: </strong></h7><p>@task.DateDue.ToString("d")</p></div>
                </div>

            </div>

            <div class="customCardContent">
                <p class="">@task.Content</p>
            </div>

            <div class="cardFooter">

                <ul class="cardFooterLeftBtns">
                    <li class="cardFooterLeftBtnsAiHelp" title="Get Ai Help" cardId="@task.Id">
                        <span class="material-symbols-outlined">
                            cognition
                        </span>
                        <p>Ai</p>
                    </li>
                </ul>

                <ul class="cardFooterBtns">

                    <li>
                        <span title="Edit" class="material-symbols-outlined cardFooterButtonsHover">
                            edit
                        </span>
                    </li>

                    <li class="cardFooterBtsWithConfirm">

                        <div class="cardFooterConfirmBox">
                            <div>
                                <span title="Complete task" class="material-symbols-outlined cardFooterMarkTaskAsCompleteBtn cardFooterButtonsHover">
                                    check
                                </span>
                                <span title="Cancel" class="material-symbols-outlined cardFooterCancelConfirmBox cardFooterButtonsHover">
                                    close
                                </span>
                            </div>
                        </div>

                        <span cardId="@task.Id" title="Mark task as completed" class="material-symbols-outlined cardFooterShowConfirmBoxBtn cardFooterButtonsHover">
                            task_alt
                        </span>

                    </li>

                    <li class="cardFooterBtsWithConfirm">

                        <div class="cardFooterConfirmBox">
                            <div>
                                <span title="Delete task" class="material-symbols-outlined cardFooterDeleteTaskBtn cardFooterButtonsHover">
                                    check
                                </span>
                                <span title="Cancel" class="material-symbols-outlined cardFooterCancelConfirmBox cardFooterButtonsHover">
                                    close
                                </span>
                            </div>
                        </div>

                        <span cardId="@task.Id" title="Delete" class="material-symbols-outlined cardFooterShowConfirmBoxBtn cardFooterButtonsHover">
                            delete
                        </span>

                    </li>

                </ul>

            </div>

        </div>
    }
}

@section Scripts{

    <script>

        $(document).ready(function () {




        
        });

    </script>
}