@model TodoLive.Models.MainVM

@{
    string priorityColor = "blue";
    foreach (var priority in Model.TaskPriorityList)
    {
        if (priority.PriorityName == Model.Todos?.Priority && (priority.PriorityVisual != null))
        {
            priorityColor = priority.PriorityVisual;
        }
    }
}


<div class="customCard">

    <div class="customCardHeader">
        <div>
            <h5><strong>Title: </strong> @Model.Todos?.Title</h5>
        </div>
        <div class="customHeaderColorPriority">
            <div base-value="@priorityColor"></div>
        </div>
    </div>

    <div class="customCardHeader2">

        <div>
            <h7><strong>From: </strong></h7><p>@Model.Todos?.FromRequested</p>
            @* <h7><strong>Priority: </strong></h7><p>@Model.Todos?.Priority</p> *@
            @* <li class="list-group-item"><strong>State:</strong> @Model.Todos?.State</li> *@
        </div>

        <div class="customCardHeader2Dates">
            <div><h7><strong>Date Requested: </strong></h7><p>@Model.Todos?.DateRequested.ToString("d")</p></div>
            <div><h7><strong>Date Due: </strong></h7><p>@Model.Todos?.DateDue.ToString("d")</p></div>
        </div>

    </div>

    <div class="customCardContent">
        <p class="">@Model.Todos?.Content</p>
    </div>

    <div class="cardFooter">

        <ul class="cardFooterBtns">
            <li class="" role="button">
                <span title="Edit" class="material-symbols-outlined">
                    edit
                </span>
            </li>
@*             <li class="list-inline-item" role="button">
                <span class="material-symbols-outlined">
                    progress_activity
                </span>
            </li> *@
            <li class="" role="button">
                <span title="Mark task as completed" class="material-symbols-outlined">
                    task_alt
                </span>
            </li>
            <li class="" role="button">
                <span cardId="@Model?.Todos?.Id" title="Delete" class="material-symbols-outlined cardFooterBtnDelete">
                    delete
                </span>
            </li>
        </ul>

    </div>

</div>